# Ignorar archivos temporales de Visual Studio
.vs/

# Ignorar binarios compilados
bin/
obj/

# Archivos de publicación
publish/

# Archivos de usuario de Visual Studio
*.user
*.suo

# Archivos de logs
*.log

# Archivos temporales generados
*.tmp

# Ignorar binarios y objetos compilados
**/bin/
**/obj/
/TecnoLabsSA-Proyecto1/obj/Debug/C1-UI.csproj.AssemblyReference.cache
/TecnoLabsSA-Proyecto1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs/TecnoLabsSA-Proyecto1/FileContentIndex/efb6ab62-ea7c-454c-9e63-2f8700a45245.vsidx

/.vs/TecnoLabsSA-Proyecto1/v17/DocumentLayout.json
/.gitignore
