# Ignorar archivos temporales de Visual Studio
.vs/

# Ignorar binarios compilados
bin/
obj/
/obj/


# Archivos de publicación
publish/

# Archivos de usuario de Visual Studio
*.user
*.suo

# Archivos de logs
*.log

# Archivos temporales generados
*.tmp
*.AssemblyReference.cache
# Ignorar archivos de depuración
**/bin/Debug/
**/obj/Debug/
*.pdb
*.dll
